.DS_Store

#code/.DS_Store
#code/robotic_arm/.DS_Store
#code/touch_glove/.DS_Store

#eagle/.DS_Store
#eagle/robotic_arm/.DS_Store
*.s$*
*.b$*
*.*lck

#eagle/touch_glove/.DS_Store
#eagle/touch_glove/*.s$*
#eagle/touch_glove/*.b$*
#eagle/touch_glove/*.*lck
